@font-face {
    font-family: venhe;
    src: url(./imagens/Adventure.otf);
}
*{
    margin: 0px;
}

#topo{
    height: 140px;
    background-color: rgb(84, 112, 56);
    display: flex;
}
#logo{
    margin-left: 150px;
    height: 150px;
    width: 180px;
}
#descricoes{
    display: flex;
    margin-left: 450px;
    margin-top: 60px;
    gap: 40px;
    font-size: 20px;
    align-items: center;
    text-decoration: none;
}
a{
    color: whitesmoke;
    text-decoration: none;
}
a:hover{
    color:rgb(3, 238, 3);
}
#nos{
    display: flex;
}
#sobre{
    width: 700px;
    height: 100px;
    font-size: 24px;
    margin-left: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#fundo{
    background-image: url(./imagens/Assine.png);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#image{
    width: 200px;
    height: 65px;
    border-radius: 6px;
}
a{
    color: whitesmoke;
    text-decoration: none;
}
a:hover{
    color:rgb(3, 238, 3);
}
#venha{
    align-items: center;
    font-family: venhe;
    color: rgb(41, 185, 101);
    text-shadow: 2px 2px black;
}
#paisagem{
    width: 500px;
}
@media  screen and (max-width:800px){
#quemsomos{
    font-size: 16px;
}
    #logo{
    margin-left: 10px;
    height: 110px;
    width: 120px;
}
#descricoes{
    gap: 20px;
    font-size: 16px;
    margin-left: 60px;
}
#separa{
    gap: 80px;
}
#sobre{
    width: 400px;
    height: auto;
}
#paisagem{
    width: 350px;
}
}
@media  screen and (max-width:500px) {
    #nos{
        display: contents;
    }
    #topo{
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }
    #sobre{
        font-size: 20px;
        width: 400px;
    }
    #descricoes{
        font-size: 12px;
        margin-top: 0px;
    }
    #paisagem{
        width: 100%;
    }
}