
*{
    margin: 0px  ;
    padding: 0;
    box-sizing: border-box;
}body{
    text-align: center;
}
#logo{
    margin-left: 200px;
    height: 150px;
    width: 180px;
}
#topo{
    background-color: rgb(84, 112, 56);
    display: flex;
}
.imagens{
    margin: 0;
    width: 1000px;
    height: 600px;
}
#tipos{
    width: auto;
    margin: 0 100px;
   
}
#separa{
    display: flex;
    justify-content: baseline;
    text-align: end;
    gap: 250px;
}
#descricoes{
    display: flex;
    text-align: end;
    margin-bottom: 30px; ;
    gap: 50px;
    align-items: end;
    font-size: 20px;
    text-decoration: none;
}
a{
    color: whitesmoke;
    text-decoration: none;
    transition: 0.3s;
}
.butão{
    background-color: darkolivegreen;
    color: chartreuse;
    border-radius: 20px;
    transition: 0.3s;
    border: none;
  }
  .butão:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
a:hover{
    color:rgb(3, 238, 3);
}
#bemvindo{
    background-color: rgb(84, 112, 56);
    background-image: url(./imagens/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 505px;
    display: grid;
    width: auto;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    grid-column: 2/3;
    grid-row: 1/2;
}
#jardineiro{
    margin-top: 0px;
    margin-left: 60px;
    width: 400px;
}
#manutencao{
    background-color: rgb(84, 112, 56);
    height: 100px;
    color: aliceblue;
    width: auto;
    align-items: center;
    font-size: 2em;
}
#adiquirir{
    display: flex;
    max-width: 1000px;
    align-items: center;
    justify-content:space-around;
    gap: 60px;
    margin: 20px auto;
}
h3{
    width: 85px;
    height: 30px;
    text-align: center; 
    margin: 10px auto;
    border-radius: 15px;
}
#comprar{
    display: flex;
    gap: 5px;
    align-items: center;
    width: 400px;
    margin: 3px auto;
    gap: 150px;
}
#tiposdecompra{
    display: flex;
    margin: 10px auto;
    width: 800px;
    gap: 150px;
}
.obter{
    margin: 0px 10px;
   font-size: 20px;
}
.branco{
    color: aliceblue;
}
#padrao{
    display: contents;
}
#titulo{
    width: 350px;
    margin-left: 150px;
    margin-top: 70px;
}
#Proficionaiss{
    margin-left: 60px;
    font-size: 20px;
    width: 300px;
    font-family: paz;
}
#platesua{
    font-size: 110px;
    width: 750px;
}
#manu{
    background-image: url(./imagens/Rectangle\ 26.png);
    height: 100px;
    align-items: center;
    color: aliceblue;
    font-size: 35px;
}
.linha{
    display: flex;
}
#padrao{
    width: 100%;
    gap: 20px;
}
.ponta{
    text-align: left;
    width: 200px;
    margin: 1px 30px;
    height: 200px;
}
.tamanhoo{
    width: 400px;
    text-align: start;
    margin-right: 200px;
    align-items: start;
    justify-content: flex-start;
    justify-items: start;
}
#historia{
    background-image: url(./imagens/Rectangle\ 27.png);
    height: 100px;
    margin:  20px 0px;
}
#fonte{
    font-size: 60px;
    margin-top: 15px;
}
#histo{
    width: 500px;
    margin: 40px 70px;
}
#juntar{
    display: flex;
    
    align-items: center;
    margin: 10px auto;
}
#img2{
    margin-left: 100px;
}
footer{
    background-image: url(./imagens/Rectangle\ 27.png);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:300px;
}
#icones{
    align-items: center;
}

#carinha{
    justify-self: end;
    align-self: flex-end;
    margin-right: 100px;
}
#num{
    margin: 10px 20px;
   display: flex;
   
}
.opcoes{
    width: 350px;
}

#insta{
    margin: 10px 20px;
    display: flex;
}
#vaicomcalma{
    height: 80px;
    width: 250px;
    margin-bottom: 70px;
}
.nim{
    margin-bottom: 10px;
}
.planoname{
    font-size: 30px;
}
@media screen and (max-width: 1100px){
    
.planoname{
    font-size: 18px;
}
   .linha>h1{
    font-size: 24px;
   }
.opcoes{
    width: 200px;
}
#manu{
    font-size: 22px;
}
.tamanhoo{
    width: 250px;
    text-align: start;
    margin-right: 70px;
    align-items: start;
    justify-content: flex-start;
    justify-items: start;
}
.imagens2{
    width: 150px;
}
#proficionais{
    margin-left: 0px;
}
#juntar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px auto;
    justify-content: center;
}
#adiquirir{
    display: none;
    margin-bottom: 50px;
} 
#descricoes{
    gap: 30px;
}
#logo{
    margin-left: 30px;
    height: 150px;
    width: 180px;
}
  #jardineiro{
    width: 400px;
    margin: 0px;
  }
  #separa{
      display: flex;
      justify-content: baseline;
      text-align: end;
      gap: 20px;
  }
  
#titulo{
    width: 300px;
    margin-left: 50px;
    margin-top: 70px;
}
#platesua{
    font-size: 60px;
    width: 350px;
}
#adiquirir{
    display: flex;
    max-width: 1000px;
    align-items: center;
    justify-content:space-around;
    gap: 70px;
    margin: 20px auto;
    margin-bottom: 100px;
}
}

@media screen and (max-width:500px) {
    #separa{
        display: grid;
    }
    #descricoes{
        font-size: 13px;
        margin-left: 25px;
    }
    #logo{
        width: 200px;
        margin-left: 130px;
        justify-content: center;
    }
    #bemvindo{
        grid-template-columns: 0;
        height: 740px;

    }
    #diminuifrase{
        font-size: 30px;
        align-items: center;
        justify-content: center;
    }
    #adiquirir{
        display: grid;
        margin-bottom: 20px;
    }
    .linha{
        display: grid;
        justify-content: center;
    }
    .tamanhoo{
        margin-bottom: 40px;
    }
    .padrao{
        margin: 10px auto;
    }
    #img2{
        width: 300px;
        height: auto;
        margin: 0px;
    }
    #fonte{
        font-size: 35px;
    }
    footer{
        display: grid;
        height: auto;
    }
    #platesua{
        font-size: 30px;
        margin-bottom: 40px;
    }
    #pempresa{
        font-size: 40px;
    }
    
#Proficionaiss{
        margin-left: 10px;
        font-size: 12px;
    }
}